<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Footer</title>
</head>
<body>
	<footer th:fragment="footer" id="footer" style="margin-top: 30px;">
            <div class="">
                <div class="row">
                    <div class="col-sm-8">&nbsp;</div>
                    <div class="col-sm-2">
                        &copy; 2020 Demo QuikTracker
                    </div>
                    <div class="col-sm-2">
                        <ul class="social-icons">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>