<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:fragment="head">
<meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>QuikTraker</title>

    <!-- CSS FILES -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">


    <!-------------- favicon --------------->
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <!-------------- CSS styling --------------->
</head>
<body>

</body>
</html>