<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" lang="en">

<!-------------- head --------------->
<head th:replace="fragments/head :: head"></head>

<body>

    <!-------------- header --------------->
    <header th:replace="fragments/header :: header"></header>

    <!-------------- main container --------------->
    <div class="col-lg-12">
        <div class="row">
            <div class="page-wrapper toggled">
                
				<div th:replace="fragments/leftbar :: leftbar"></div>
				
                <!-- content div -->
                <main class="page-content">
                    <div class="col-md-12">
                        <div class="container-fluid">
                            <h2>Change Your Password</h2>
                            <hr style="margin:0px; border-bottom: none;">
                                <div class="clear ht-40"></div>
                            <div class="row new-row-div">
                             		<!-------------- success message on user creation --------------->
                			
			                	<div th:if="${message}" th:class="${'alert ' + swapClass}" role="alert">
								  <strong th:text="${message}"></strong>
								</div>
										<!-------------- error message on user creation --------------->
										
			                	
								<div th:each="erm : ${errorMessage}">
									<div th:if="${erm}" class="alert alert-danger" role="alert">
									  <strong th:text="${erm}"></strong>
									</div>
								</div>
								
                               <div class="form-bg-color">
                                   <div class="col-sm-6" style="padding: 0px;">
                                         <form th:action="@{/privacy/updatePassword}" method="POST" id="change-password-form">
                                            <div class="form-group">
                                                <label for="password">Current Password</label>
                                                <input type="password" class="form-control new-form-inputs" name="password" id="password"
                                                placeholder="XXXXXXXXXX" th:field="${changePassword.password}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="newPassword">New Password</label>
                                                <input type="password" class="form-control new-form-inputs" name="newPassword" id="newPassword"
                                                placeholder="XXXXXXXXXX" th:field="${changePassword.newPassword}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="reNewPassword">Re-enter New Password</label>
                                                <input type="password" class="form-control new-form-inputs" name="reNewPassword" id="reNewPassword"
                                                placeholder="XXXXXXXXXX" required>
                                            </div>
                                            <button type="submit" class="btn btn-success">Change</button>
                                            <div class="clear ht-30"></div>
                                        </form>
                                    </div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-4" style="margin-top: 3%;">
                                        <div class="alert alert-info" role="alert">
                                            <h4 class="alert-heading">Password should contain</h4>
                                            <ul style="padding-left: 15px;">
                                                <li>Atleast 1 uppercase alphabet - <strong>QWERTY</strong>.....</li>
                                                <li>Atleast 1 lowercase alphabet - <strong>qwerty</strong>.....</li>
                                                <li>Atleast 1 special alphabet - <strong>!@#$%</strong>.....</li>
                                                <li>Atleast 1 numeric - <strong>12345</strong>.....</li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                        <div class="clear"></div>
                                    <hr style="margin:0px; border-bottom: none; border-color: #8C8888" class="ht-30">
                                    <div class="col-sm-12">
                                        <h4>It is recommended to change your password once in a month</h4>
                                            <div class="clear ht-10"></div>
                                        <h5>Benefits of password change :-</h5>
                                            <div class="clear"></div>
                                        <ul style="padding-left: 15px;">
                                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</li>
                                            <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</li>
                                            <li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
                                            <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</li>
                                        </ul>
                                    </div>
                                </div> 
                               
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            
        </div>
        <!------------ Footer ------------>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
    <!------------ Javascript and jQuery files ------------>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/customScript.js" defer></script>
    <script src="/js/validation.js" defer></script>
</body>

</html>