<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" lang="en">

<!-------------- head --------------->
<head th:replace="fragments/head :: head"></head>

<style>
.toggle_radio{
  position: relative;
  background: #5142df;
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 35px;
  width: 213px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
}
.toggle_radio label{
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 100px;
  height: 28px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  text-align: center;
  padding-top: 4px;
}
.toggle_option_slider{
  width: 100px;
  height: 30px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 109px;
}
</style>
<body>

    <!-------------- header --------------->
    <header th:replace="fragments/header :: header"></header>

    <!-------------- main container --------------->
    <div class="col-lg-12">
        <div class="row">
            <div class="page-wrapper toggled">
                
				<div th:replace="fragments/leftbar :: leftbar"></div>
				
                <!-- content div -->
                <main class="page-content">
                    <div class="col-md-12">
                        <div class="container-fluid">
                            <h2>Inventory</h2>
                            <hr style="margin:0px; border-bottom: none;">
                                <div class="clear ht-40"></div>
                            <div class="row new-row-div">
                            	<div th:if="${message}" th:class="${'alert ' + swapClass}" role="alert">
								  <strong th:text="${message}"></strong>
								</div>
										<!-------------- error message on user creation --------------->
								<div th:each="erm : ${errorMessage}">
									<div th:if="${erm}" class="alert alert-danger" role="alert">
									  <strong th:text="${erm}"></strong>
									</div>
								</div>
								
	                             <div class="row">
	                                <div class="col-md-1">
	                                    <div class="dropdown btn btn-default">
	                                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"
	                                            role="button" aria-haspopup="true" aria-expanded="false"
	                                            style="padding-top:25px; color: #000; font-size: 16px;"><i
	                                                class="fa fa-filter"></i>&nbsp;Filter</a>
	                                        <ul class="dropdown-menu cust-user-controls" style="background: #2a2930;">
	                                        	<li><a href="/user/recentlyAdded"><i class="fa fa-bars"></i>&nbsp;Recently Added</a></li>
	                                            <li><a href="/user/oldestProduct"><i class="fa fa-bars"></i>&nbsp;Oldest Products</a></li>
	                                            <li><a href="/user/lowToHigh"><i class="fa fa-arrow-up"></i>&nbsp;Quantity: Low to High</a></li>
	                                            <li><a href="/user/highToLow"><i class="fa fa-arrow-down"></i>&nbsp;Quantity: High to Low</a></li>
	                                        </ul>
	                                    </div>
	                                </div>
	                                <div class="col-md-3">
	                                	<a title="Remove" th:if="${inventoryFilter ne null}" href="/inventory" class="btn btn-primary"><i class="fa fa-times"></i>&nbsp;&nbsp;&nbsp;
	                                		<span th:text="${inventoryFilter ne null} ? ${inventoryFilter}"></span>
	                                	</a>
	                                </div>
	                                <div class="col-md-8">
	                                    <div class="form-group">
	                                        <form method="GET" th:action="@{/user/searchProduct}">
	                                        	<div th:if="${#httpServletRequest.getParameter('searchParam')}">
		                                            <input style="width:96%;float:left;" type="text" th:field="${searchProduct.searchParam}" name="searchParam" id="searchParam" class="form-control" placeholder="Search by product name / product category / product description">
		                                            <a href="/inventory" class="btn btn-danger" title="Reset"><i class="fa fa-times"></i></a>
		                                            <div class="clear"></div>
	                                            </div>
	                                            <div th:unless="${#httpServletRequest.getParameter('searchParam')}">
		                                            <input type="text" th:field="${searchProduct.searchParam}" name="searchParam" id="searchParam" class="form-control" placeholder="Search by product name / product category / product description">
	                                            </div>
	                                        </form>
	                                    </div>
	                                </div>
	                            </div>
                            		<div class="clear ht-30"></div>
                             	<div class="row" id="loadMoreList" th:if="${!allProduct.isEmpty() and allProduct != null}">
                             	
	                                <div class="col-sm-3 individual-product" th:each="products: ${allProduct}">
	                                    <div th:class="${products.inStock lt 0 or products.inStock eq 0} ? 'inventory-container out-of-stock-div-rsm' : 'inventory-container'">
	                                        <div class="product-maindiv">
	                                            <div class="product-image">                                            
													<div class="shape-text">
														<span th:text="${'PT-'+products.productId}"></span>					
													</div>
	                                                <a href="javascript: void(0);">
	                                                    <img th:src="${products.productImage eq '' or products.productImage eq null} ? '/images/dummyProduct.png' : @{'/uploaded_images/'+${products.productImage}}" class="inv-img pop"/>
	                                                </a>
	                                                <ul class="inv-controls">
	                                                    <li><a href="javascript:void(0);" class="fa fa-eye"
	                                                            data-placement="right" data-toggle="tooltip"
	                                                            th:title="${products.productDescription}"></a>
	                                                    </li>
	                                                    <li th:if="${products.inStock gt 0}"><i class="fa fa-plus products-transaction-user" data-toggle="modal" data-target="#myModal" th:attr="onclick='openUserModal(\'' + ${products.productId}+  '\');'" title="Click to use"></i></li>
	                                                </ul>
	                                                <span th:class="${products.inStock lt 0 or products.inStock eq 0} ? 'product-out-of-stock'" th:text="${products.inStock lt 0 or products.inStock eq 0} ? 'out of stock'"></span>
	                                            </div>
	
	                                            <div class="product-info">
	                                                <h3 class="product-name" th:text="${products.productName}"></h3>
	                                                <div class="wid-100">
	                                                    <div class="col-md-3"><i class="fa fa-briefcase"></i>&nbsp;&nbsp;<span style="font-weight: bold;" th:text="${products.inStock}" th:id="'appendQuantity-' + ${products.productId}"></span></div>
	                                                    <div class="col-md-7"><i class="fa fa-th-large"></i>&nbsp;&nbsp;<span style="font-weight: bold;"  th:text="${products.productCategory.categoryName}"></span></div>
	                                                    <div class="col-md-1">
	                                                    	<i th:id="'favouriteProducts-' + ${products.productId}" class="fa fa-heart pointer addToFavourite favourite-suer-product-heart" style="color:#FFF" title="Favorite"></i>
				                                            <span th:each="favourite : ${products.favouritesList}">
				                                            	<i th:id="'favouriteProduct-' + ${products.productId}" class="fa fa-heart pointer addToFavourite favourite-suer-product-heart" th:if="${favourite.user.userId == loggedInUserId}" style="color: #371DB3" title="Favorite"></i>
				                                            </span>	
	                                                    </div>
	                                                    	<div class="clear"></div>
	                                                </div>
	
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
                      
                            	</div>
                            	
                            	<div th:unless="${!allProduct.isEmpty() and allProduct != null}" class="alert alert-danger" role="alert">
                                  	<label for="subject">Oops !!! No products yet. We are working on it.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            	
            	<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				
				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title" style="color: #000;">Start Product Transaction</h4>
				      </div>
				      <div class="modal-body">
			      		<div class="col-sm-12" style="padding:0px; color: #000;">
			      			<div id="outputAjaxMessage" class="alert" role="alert"></div>
			      			<form method="POST" id="modal-transaction-form">
			      				<div class="toggle_radio">
								    <input type="radio" checked value="withdraw" class="toggle_option" id="first_toggle" name="trns_option">
								    <input type="radio" class="toggle_option" value="deposit" id="second_toggle" name="trns_option">
								    <label for="first_toggle"><i class="fa fa-minus"></i>&nbsp;Withdraw</label>
								    <label for="second_toggle"><i class="fa fa-plus"></i>&nbsp;Deposit</label>
								    <div class="toggle_option_slider"></div>
								</div>
  									<div class="clear ht-10"></div>
				      			<div class="form-group">
                                 <label for="lastName">Quantity to be transferred</label>
                                 <input type="text" class="form-control new-form-inputs" name="transactionQuantity" id="transactionQuantity"
                                 placeholder="Space to add quantity">
                                 <input type="hidden" name="hiddenProductId" id="hiddenProductId" value=""/>
                             </div>
                             	<div class="clear"></div>
                             <div class="form-group">
                                 <label for="lastName">Comments</label>
                                 <textarea rows="5" class="form-control new-form-textarea" name="comment" id="comment"
                               placeholder="Comment if any" required></textarea>
                             </div>
                             	<div class="clear"></div>
                             <button type="submit" class="btn btn-success">Submit</button>
                            </form>
			      		</div>
				      		<div class="clear"></div>
				      </div>
				      <div class="modal-footer" style="border:none">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				
				  </div>
				</div>
				
				
				<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog" data-dismiss="modal">
				    <div class="modal-content"  >              
				      <div class="modal-body">
				      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <img src="" class="imagepreview" style="width: 100%;" >
				      </div>    
				    </div>
				  </div>
				</div>
				
        </div>
        <!------------ Footer ------------>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
    <!------------ Javascript and jQuery files ------------>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/customScript.js" defer></script>
    <script src="/js/validation.js" defer></script>
    <script>
	    function openUserModal(val) {
	    	$("#hiddenProductId").val(val);
	    }
    </script>
</body>

</html>